{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Medicines</h1>

<a href="{% url 'managers:medicine-add' %}"
   class="inline-block mb-4 bg-green-600 text-white px-3 py-1 rounded">
  + Add Medicine
</a>


<table class="w-full border-collapse">
  <thead>
    <tr class="bg-gray-100">
      <th class="border p-2 text-left">Name</th>
      <th class="border p-2 text-left">Category</th>
      <th class="border p-2 text-left">Price</th>
      <th class="border p-2 text-left">Stock</th>
      <th class="border p-2 text-left">Prescription</th>
      <th class="border p-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for m in medicines %}
      <tr>
        <td class="border p-2">{{ m.name }}</td>
        <td class="border p-2">{{ m.category.name }}</td>
        <td class="border p-2">₹{{ m.price }}</td>
        <td class="border p-2">
          {% if m.in_stock %}In stock{% else %}Out{% endif %}
        </td>
        <td class="border p-2">
          {% if m.is_prescription_required %}Required{% else %}No{% endif %}
        </td>
        
        <td class="border p-2">
            <a href="{% url 'managers:medicine-edit' m.pk %}"
            class="text-blue-600 underline mr-2">Edit</a>

            <a href="{% url 'managers:medicine-delete' m.pk %}"
            class="text-red-600 underline">Delete</a>
        </td>

      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="p-4 text-center text-gray-500">
          No medicines added yet.
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
